Package: com.example.panda2vpncrack
Name: Panda2VpnCrack
Version: 1.0.0
Architecture: iphoneos-arm64
Maintainer: Unknown
Author: Unknown
Depends: mobilesubstrate
Section: Tweaks
Description: Crack for Panda2Vpn - Unlock premium features
